/*!
 * Stylesheet
 *
 * @author ...
 * @version 1.0
 */

/*
|--------------------------------------------------------------------------
| Reset
|--------------------------------------------------------------------------
|
| El reset sirve para uniformizar los estilos de elementos html
| a traves de los diferentes navegadores, por ejemplo,
| Internet Explorer coloca un borde azul a toda imagen que
| este dentro de un elemento de vinculo <a>. Para quitarlo
| "reseteamos" el elemento <img> para que no muestre ningun borde.
|
| Todos los estilos del reset se pueden sobreescribir luego pero
| solo cuando el diseno lo necesite y no en un contexto general,
| por esta razon EL RESET NO SE DEBE MODIFICAR
|
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
}
article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section, summary {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong, b {
	font-weight: bold;
}
img {
	border: 0;
}
input, button, optgroup, select, textarea {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

/* Aqui se define el tamano base de la fuente, el tamano del */
/* interlineado, la fuente y color principales */
/* LOS VALORES SE DEBEN MODIFICAR SEGUN LAS NECESIDADES DEL PROYECTO */
html {
	font: 100%/1.5 sans-serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
hr {
	height: 0;
	border: 0;
	border-top: 1px solid #333;
}
ol, ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}

/*
|--------------------------------------------------------------------------
| Clases
|--------------------------------------------------------------------------
*/

/* Este es el contenedor principal del grid, */
/* puede ser fijo ej. width: 940px */
/* o puede ser de ancho variable ej. max-width:940px */
/* EL VALOR SE DEBE MODIFICAR SEGUN LAS NECESIDADES DEL PROYECTO */
.container {
	max-width: 940px;
	margin: 0 auto;
}
/* Aqui se corrige el espacio para poder tener columnas anidadas */
/* EL VALOR DEBE SER IGUAL AL ESPACIO HORIZONTAL ENTRE COLUMNAS */
/* PERO EN NEGATIVO */
.row {
	margin: 0 -10px;
}
/* Aqui se define el espacio horizontal que hay entre columnas */
/* EL VALOR SE DEBE MODIFICAR SEGUN LAS NECESIDADES DEL PROYECTO */
.container,
[class^="col-"],
[class*=" col-"] {
	padding: 0 10px;
}
/* Aqui se definen los estilos de columna */
/* si el contenedor principal es fijo las columnas seran fijas, */
/* si es de ancho variable, tambien lo seran las columnas */
[class^="col-"],
[class*=" col-"] {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	with: 100%;
}
/* Aqui se definen los tamanos para las 12 columnas del grid */
/* se pueden crear tamanos de columna personalizados, para */
/* esto tienes que crear una clase cuyo nombre */
/* inicie con "col-" y definiendo un tamano para */
/* la nueva columna */
.col-xs-1 { width: 8.33%; }
.col-xs-2 { width: 16.66%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33%; }
.col-xs-5 { width: 41.66%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33%; }
.col-xs-8 { width: 66.66%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33%; }
.col-xs-11 { width: 91.66%; }
.col-xs-12 { width: 100%; }
/* clearfix */
.clearfix:after,
.container:after,
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*
|--------------------------------------------------------------------------
| Estilos comunes
|--------------------------------------------------------------------------
*/

/* Aqui se define el espacio vertical que hay */
/* entre elementos bloque */
/* EL VALOR SE DEBE MODIFICAR SEGUN LAS NECESIDADES DEL PROYECTO */
h1, h2, h3, h4, h5, h6, ul, ol, dl,
p, pre, blockquote, hr {
	margin-bottom: 20px;
}

/*
|--------------------------------------------------------------------------
| Estilos de la pagina
|--------------------------------------------------------------------------
*/



/*
|--------------------------------------------------------------------------
| Responsive Media Queries
|--------------------------------------------------------------------------
*/

@media (min-width: 768px) {

.col-sm-1 { width: 8.33%; }
.col-sm-2 { width: 16.66%; }
.col-sm-3 { width: 25%; }
.col-sm-4 { width: 33.33%; }
.col-sm-5 { width: 41.66%; }
.col-sm-6 { width: 50%; }
.col-sm-7 { width: 58.33%; }
.col-sm-8 { width: 66.66%; }
.col-sm-9 { width: 75%; }
.col-sm-10 { width: 83.33%; }
.col-sm-11 { width: 91.66%; }
.col-sm-12 { width: 100%; }

}

@media (min-width: 992px) {

.col-md-1 { width: 8.33%; }
.col-md-2 { width: 16.66%; }
.col-md-3 { width: 25%; }
.col-md-4 { width: 33.33%; }
.col-md-5 { width: 41.66%; }
.col-md-6 { width: 50%; }
.col-md-7 { width: 58.33%; }
.col-md-8 { width: 66.66%; }
.col-md-9 { width: 75%; }
.col-md-10 { width: 83.33%; }
.col-md-11 { width: 91.66%; }
.col-md-12 { width: 100%; }

}